<h1>Admin login</h1>
<%= flash[:notice] %>
<%= form_tag login_index_path do -%>
	<lable for="login">login</lable>
	<%= text_field_tag :login, params[:login] %>
	<lable for="password">password</lable>
	<%= password_field_tag :password, params[:password] %>
	
	<%= submit_tag "Login" %>
<% end %>