<div id="login_form">

<%= form_tag login_index_path do -%>
<ul class="clearfix">
<li>
<label for="email">账号</label>
<%= text_field_tag :login, params[:login], :id => "email", :class => "text r5px" %>
</li>
<li>
<label for="password">密码</label>
<%= password_field_tag :password, params[:password], :id => "password", :class => "text r5px" %>
</li>
<li class="last">
<label for="">&nbsp;</label>
<%= submit_tag "登 录", :id => "button_login", :class => "r5px button_blue" %>
</li>
</ul>
<% end %>
<div class="zu-index-link-apply-x2 r5px"><%= flash[:notice] %></div>
</div>
