<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2012年度希望之星英语风采大赛太原赛区</title>
<style>
body,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd{padding:0;margin:0;}
</style>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/s3Slider.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#slider').s3Slider({
            timeOut: 6000
        });
    });
</script>
<style>
#slider {
	width: 379px; /* important to be same as image width */
	height: 258px; /* important to be same as image height */
	position: relative; /* important */
	overflow: hidden; /* important */
}
#slider img{
    border: 0px;
}

#sliderContent {
	width: 378px; /* important to be same as image width or wider */
	position: absolute;
	top: 0;
	margin-left: 0;
}
.sliderImage {
    float: left;
    position: relative;
	display: none;
}
.sliderImage span {
    position: absolute;
	font: 12px/14px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 371px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.sliderImage span strong {
    font-size: 14px;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}
ul { list-style-type: none;}
</style>
</head>

<body>
<div id="top"><img src="images/topbg.jpg" width="980" height="270" border="0" /></div>
<div id="main">
	<div class="news">
		<div class="newpic">
        	
            <div id="slider">
       			<ul id="sliderContent">
					<% @postnews.each do |pn| %>
						<% unless pn.pic.empty? %>
          				<li class="sliderImage">
               				<a href="/posts/<%= pn.id %>" target="_blank"><img src="<%= pn.pic %>" alt="1" /></a>
              				<span class="top"><strong><%= pn.title %></strong></span>
       						</li>
						<% end %>
					<% end %>
			  	</ul>
 		  	</div>
        
      </div>
		<div class="newtext">
        	<div class="newtitle">
           	  <div class="newtitle1"></div>
              <div class="newtitle2">大赛新闻</div>
            </div>
            <div class="newcontent">
            	<ul>
					<% @postnews.each do |pn| %>
                		<li><a href="/posts/<%= pn.id %>"><%= pn.title %></a></li>
					<% end %>
                </ul>
            </div>
    </div>
		<div class="petition"><img src="images/baoming.jpg" width="239" height="259" border="0" usemap="#Map" />
          <map name="Map" id="Map">
            <area shape="rect" coords="47,211,193,250" href="/apply" />
          </map>
		</div>
	</div>
	<div class="cooperation">
		<div class="coop1">
        	<div class="coop1title">
            	<div class="newtitle1"></div>
       		    <div class="coop1title2">组织机构</div>
            </div>
            <div class="coop1text">
            	<p>主办单位：中央电视台</p>
            	<p>承办单位：瑞思学科英语（太原北美新天地）中心</p> 
            	<p>协办单位：全国基础外语教育研究培训中心</p>
            	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;山西省网上家长学校</p> 
            	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;太原学大教育</p>
            	<p>合作单位：中国教育国际交流协会</p> 
            	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WWF（世界自然基金会）</p> 
            	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中视传媒股份有限公司</p> 
            	<p>技术支持：央视国际网络</p>
            	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;央数文化（上海）股份有限公司 </p>
            	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;外语教学与研究出版社 </p>
            	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;美国教育考试服务中心（ETS）</p> 
            	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;英国大使馆文化教育处</p> 
            	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国人民大学出版社 </p>
            </div>
	    </div>
		<div class="coop2">
        	<div class="coop2text"><span style="margin:0; float:left;"><img src="images/ruisilogo.jpg" width="100" height="100" border="0" /></span>瑞思学科英语是市值120亿美金全球最大的K12教育集团霍顿.米夫林哈考（Houghton Miffilin Harcourt Learning Technology）集团在华首个少儿培训项目,致力于4—12岁中国孩子英语学习，在纯英文环境中，以互动多媒体“浸入式学科英语”课程体系为教学支撑，以与美国小学同质、同步的学科知识和未来领导力培养为传授内容。让孩子们通过“浸入式学科英语”的学习，使孩子不仅能够成为未来职场的领导者，更将成为社会的主流群体。</div>
            <div class="coop2text"><span style="margin:0; float:left;"><img src="images/jiazhanglogo.jpg" width="100" height="100" border="0" /></span>山西省网上家长学校是在省家庭教育指导委员会直接领导、省妇联主办、部分成员单位参与支持下开办的家庭教育专业网站。加强了新形势下山西省未成年人思想道德建设工作，创新家庭教育理念，利用现代网络传媒平台，目的是向全省广大家长提供快捷、简便、独特的家庭教育指导和服务；通过多种形式、多种类别的家庭教育方法，使家长成为“做合格父母、培养合格人才”的高素质家长，推进山西省家庭教育工作。 </div>
      </div>
		<div class="weibo">
        	<iframe id="iframeid" name="ifrmname" frameborder="0" scrolling="No" src="http://t.jiazhang.org/index.php?mod=share&code=cctvoe" width="238px" height="308px"></iframe>
        </div>
	</div>
	<div class="media">
		<div class="photo">
        	<div class="phototitle">
            	<div class="newtitle1"></div>
                <div class="phototitle2">选手风采</div>
            </div>
            <div class="phototext">
				<% @postpics.each do |pp| %>
            		<div class="photoli">
	                	<div class="photo1"><img src="<%= pp.pic %>" width="125" height="80" border="0" /></div>
	                  	<div class="photo2"><a href="/posts/<%= pp.id %>"><%= pp.title %></a></div>
	                </div>
				<% end %>
            </div>
        </div>
		<div class="video">
        	<div class="videotitle">
            	<div class="newtitle1"></div>
                <div class="videotitle2">大赛视频</div>
            </div>
            <div class="videotext">
				<% @postvideos.each do |pv| %>
            		<div class="videoli">
	                	<div class="video1"><img src="<%= pv.video_pic %>" width="125" height="80" border="0" /></div>
	                  	<div class="video2"><a href="/posts/<%= pv.id %>"><%= pv.title %></a></div>
	                </div>
				<% end %>
            </div>
        </div>
	</div>
</div>
<div id="foot">
	<div class="foottext">合作机构</div>
	<div class="footpic"><img src="images/hezuo.jpg" /></div>
</div>
</body>
</html>
