<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @post.title %>--2012年度希望之星英语风采大赛太原赛区</title>
<style>
body,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd{padding:0;margin:0;}
</style>
<link href="/stylesheets/single.css" rel="stylesheet" type="text/css" />

</head>
<div id="main">
	<div class="news">
    	<div class="newsnavi">
    	  <p><a href="/">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="/posts/cats/<%= @post.cats_id %>"><%= @cat %></a>
          </p>
    	</div>
        <div class="newscontent">
        	<div class="ctitle">
        	  <h1><%= @post.title %></h1>
        	</div>
            <div class="ctime"><%= l(@post.created_at, :format => :short) %></div>
            <div class="ccontent">
							<% if @post.video_pic %>
								<div style="height:300px;width:500px;">
									<embed src="http://player.youku.com/player.php/sid/<%= @post.video %>/v.swf" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>
								</div>
							<% end %>
							<% if @post.excerpt_image_file_name %>
								<%= image_tag(@post.excerpt_image.url(:medium)) %>
							<% end %>
							<%= @post.content %>
						</div>
      </div>
        	
	</div>
	<div class="cooperation">
    	<div class="petition"><img src="/images/baoming.jpg" width="239" height="259" border="0" usemap="#Map" />
          <map name="Map" id="Map">
            <area shape="rect" coords="47,211,193,250" href="/apply" />
          </map>
		</div>
	    <div class="weibo">
        	<iframe id="iframeid" name="ifrmname" frameborder="0" scrolling="No" src="http://t.jiazhang.org/index.php?mod=share&code=cctvoe" width="238px" height="308px"></iframe>
        </div>
	</div>

</div>
